<!-- <h1>Todo List</h1>
<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-default"><i class="fa fa-search" aria-hidden="true" ></i></button>
      </span>
     <! <!- TODO: Bind the input to our todo list
      <input type="text" class="form-control" placeholder="Search for..." ng-model ="searchText">
    </div>
  </div>
</div>  --> 
<!-- TODO: Repeat over our todo list items and setup filtering by search term. Easy peasy -->
<h1>Todo List</h1>
<div ng-repeat="items in items | filter: searchText.search">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="col-xs-1"><input type="checkbox" name=""/></div>
      <div class="col-xs-7"><a ng-href="#/items/{{items.id}}">{{items.task}}</a></div>
      <div class="col-xs-2">{{items.dueDate}}</div>
      <div class="col-xs-1">{{items.assignedTo}}</div>
      <div class="col-xs-1">

      <button class="btn btn-danger" plasceholder="delete" ng-click="remove(items.id)">Delete</button></div>
      <button class="btn btn-info"> <a ng-href="#/edit/{{items.id}}">Edit</a></button>
      <!-- items.id means something in this partial- this particular id -->
    </div>
  </div>
</div>